
*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:0;
  margin:0;
}
.quiz-container{
  height:100dvh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom,#cff7cf,#70e2da);
}
.quiz-container_question{
 padding:50px;
  border-radius: 0.5rem;
  height: 300px;
  width:60%;
  margin:0 auto;
  text-align: center;
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4rem;
  box-shadow: 0px 10px 40px #999;
}
.quiz-container-options{
  padding:2rem;
  border-top: 1px solid #ccc;
}
.quiz-container_ul{
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap:1rem;
  list-style-type: none;
}
.quiz-container_li{
  padding:1rem;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}
.quiz-container_li:hover{
  box-shadow: 0px 1px 10px #fff;
}
